<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <a href="../">
        <button>
            Back
        </button>
    </a>
    <br>
    <br>
    <h1>Daftar Event</h1>
    <table style="border-spacing: 15px;">
        <tr>
            <th>
                ID Event
            </th>
            <th>
                Nama Event
            </th>
            <th>
                Tanggal Mulai
            </th>
            <th>
                Tanggal Selesai
            </th>
            <th>
                Jam Mulai
            </th>
            <th>
                Jam Selesai
            </th>
            <th>
                Deskripsi
            </th>
            <th>
                Kapasitas Total
            </th>
            <th>
                Kapasitas Total Tersedia
            </th>
            <th>
                Tipe Event
            </th>
            <th>
                Email Organizer
            </th> 
        </tr>
        {% for i in row %}
        <tr>
            {% for j in i %}
            {% if j == None %}
            <td>0</td>
            {% else %}
            <td>{{j}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <!-- <h4>{{i}}</h4> -->
</body>
</html>