<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event+</title>
</head>
<body>
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
    <h1>Halo, {{request.user}}</h1>
    <h1>User Type : {{tipe}}</h1>
    {% else %}
    <h1>Hello, Please Login First</h1>
    {% endif %}
    {% if tipe == "Organizer" %}
    <!-- <table>
        <tr>
            <th>
                Email
            </th>
            <th>
                Waktu
            </th>
            <th>
                Tanggal
            </th>
            <th>
                No Dompet Digital
            </th>
            <th>
                Status
            </th>
            <th>
                Total Bayar
            </th>
            <th>
                ID Shared Profit
            </th>
        </tr>
        {% for i in row %}
        <tr>
            {% for j in i %}
            <td>
                {{j}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table> -->
    <a href="/tambahevent">
        <button>Tambah Event +</button>
    </a>
    <h3>Your Event :</h3>
    <table style="border-spacing: 15px;">
        <tr>
            <th>
                ID Event
            </th>
            <th>
                Nama Event
            </th>
            <th>
                Tanggal Mulai
            </th>
            <th>
                Tanggal Selesai
            </th>
            <th>
                Jam Mulai
            </th>
            <th>
                Jam Selesai
            </th>
            <th>
                Deskripsi
            </th>
            <th>
                Kapasitas Total
            </th>
            <th>
                Kapasitas Total Tersedia
            </th>
            <th>
                Tipe Event
            </th>
            <th>
                Edit
            </th>
        </tr>
        {% for j in dataEvent %}
        <tr>
            {% for i in j %}
            {% if i == None %}
            <td>0</td>
            {% else %}
            <td>{{i}}</td>
            {% endif %}
            {% endfor %}
            <td>
                <button>
                    Tambah Kelas Tiket
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <a href="/event">
        <button>
            Lihat Seluruh Daftar Event
        </button>
    </a>
    <!-- <h4>{{i}}</h4> -->
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'landingpage:login' %}">login</a>
    {% if user.is_authenticated %}
    <a href="{% url 'landingpage:logout' %}">logout</a>
    {% else %}
    <a href="{% url 'landingpage:pilihTipe' %}">register</a>
    {% endif %}
</body>
</html>