<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event+</title>
</head>
<body>
    <div class="login">
        <div class="login-register-floating-box">
            <div class="login-register-header">
                <h1 class="title">Login</h1>
                <span>Login Event+</span>
            </div>
            <div class="login-register-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-submit">Login</button>
                </form>
                <hr>
                <div class="other-choice">
                    <span>belum punya akun? Register <a href="{% url 'landingpage:pilihTipe' %}">disini</a></span>
                    <div class="google-OAuth2">
                    </div>
                <div>
            </div>
        </div>
    </div>
</body>
</html>