<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event+</title>
</head>
<body>
    <div class="pilih-tipe">
        <h1>anda ingin mendaftar sebagai apa?</h1>
        <h2><a href="{% url 'landingpage:registerOrginazer' %}">Organizer</a></h2>
        <h2><a href="{% url 'landingpage:registerPengunjung' %}">Pengunjung</a></h2>
    </div>
</body>
</html>