<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event+</title>
</head>
<body>
    <div class="register">
        <div class="login-register-floating-box">
            <div class="login-register-header">
                <h1 class="title">Sign Up</h1>
                <span>Daftar kan akun barumu disini</span>
            </div>
            <div class="login-register-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="individu" required name="tipeOrgan" value="individu" onclick='opsi()'>
                        <label class="form-check-label" for="flexRadioDefault1" >
                            individu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="perusahaan" required name="tipeOrgan" value="perusahaan" onclick="opsi()">
                        <label class="form-check-label" for="flexRadioDefault2">
                            perusahaan
                        </label>
                    </div>
                    <div id="form-opsi"></div></br>
                    <button type="submit" class="btn btn-submit">Sign Up</button>
                </form>
                <hr>
                <div class="other-choice">
                    <span>Sedah memiliki akun? Sign in <a href="{% url 'landingpage:login' %}">disini</a></span>
                    <div class="google-OAuth2">
                    </div>
                <div>
            </div>
        </div>
    </div>
</body>
<script>
    function opsi(){
        var individu = document.getElementById('individu');
        var perusahaan = document.getElementById('perusahaan');
        if( individu.checked == true ){
            document.getElementById('form-opsi').innerHTML = "";
            document.getElementById('form-opsi').innerHTML = 
                `</div><div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nama Depan</label></br>
                    <input type="text" name="namaDepan" class="form-control" required id="exampleFormControlInput1" placeholder="">
                </div>
                </div><div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nama Belakang</label></br>
                    <input type="text" name="namaBelakang" class="form-control" required id="exampleFormControlInput2" placeholder="">
                </div>
                </div><div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nomor KTP/NPWP</label></br>
                    <input type="text" name="nomor" class="form-control" required id="exampleFormControlInput3" placeholder="">
                </div>
                `
        }
        else if(perusahaan.checked == true){
            document.getElementById('form-opsi').innerHTML = "";
            document.getElementById('form-opsi').innerHTML = 
                `</div><div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nama Perusahaan</label></br>
                    <input type="text" name="namaDepan" class="form-control" required id="exampleFormControlInput1" placeholder="">
                </div>
                </div><div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nomor KTP/NPWP</label></br>
                    <input type="text" name="nomor" class="form-control" required id="exampleFormControlInput2" placeholder="">
                </div>
                `
        }
    }
</script>
</html>