<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <a href="../">
        <button>
            Back
        </button>
    </a>
    <br>
    <br>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="name">Nama Event:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="tglmulai">Tanggal Mulai:</label><br>
        <input type="date" id="tglmulai" name="tglmulai" required><br><br>
        <label for="tglselesai">Tanggal Selesai:</label><br>
        <input type="date" id="tglselesai" name="tglselesai" required><br><br>
        <label for="jammulai">Jam Mulai:</label><br>
        <input type="time" id="jammulai" name="jammulai" required><br><br>
        <label for="jamselesai">Jam Selesai:</label><br>
        <input type="time" id="jamselesai" name="jamselesai" required><br><br>
        <label for="deskripsi">Deskripsi:</label><br>
        <input type="text" id="deskripsi" name="deskripsi" required><br><br>
        <h3>Tipe Event</h3>
        {% for i in row %}
        <input type="radio" id={{i}} name="tipe" value={{i.0}} required>
        <label for={{i}}>{{i.1}}</label><br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>